<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Variable\Model\Config\Structure\AvailableVariables">
        <arguments>
            <argument name="configPaths" xsi:type="array">
                <item name="general/store_information" xsi:type="array">
                    <item name="general/store_information/phone_b2b" xsi:type="string">1</item>
                    <item name="general/store_information/phone_local" xsi:type="string">1</item>
                    <item name="general/store_information/phone_b2b_local" xsi:type="string">1</item>
                </item>
                <item name="general/design" xsi:type="array">
                  <item name="general/design/seo_text_domain" xsi:type="string">1</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Backend\Block\Widget\Grid\Column\Filter">
        <plugin name="removeDeleteLabel" type="Magentiz\ConfigFinder\Plugin\Backend\Block\Widget\Grid\Column\Store" sortOrder="1" disabled="false"/>
    </type>

    <type name="Magento\Framework\Data\Form\Element\Image">
        <plugin name="changeHtmlAttributeFormElement" type="Magentiz\ConfigFinder\Plugin\Magento\Framework\Form\ImageElement" sortOrder="1" disabled="false"/>
    </type>

    <preference for="Magento\Backend\Model\Menu\Config\SchemaLocator" type="Magentiz\ConfigFinder\Model\Menu\Config\SchemaLocator" />
    <preference for="Magento\Backend\Model\Menu\Item\Validator" type="Magentiz\ConfigFinder\Model\Menu\Item\Validator" />

    <type name="Magento\Backend\Block\AnchorRenderer">
        <plugin name="addToolTipMenu" type="Magentiz\ConfigFinder\Plugin\Backend\Block\AnchorRenderer" sortOrder="1" disabled="false"/>
    </type>
</config>
